My project/Assets/StreamingAssets/game.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Trajectory type restriction -->
    <xs:simpleType name="TrajectoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="linear"/>
            <xs:enumeration value="curved"/>
            <xs:enumeration value="expert"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Coordinate restrictions -->
    <xs:simpleType name="xCoordinate">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="80"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yCoordinate">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="70"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Root element -->
    <xs:element name="game">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="levels">
                    <xs:complexType>
                        <xs:sequence>

                            <!-- Max 10 levels -->
                            <xs:element name="level" maxOccurs="10">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="balloons">
                                            <xs:complexType>
                                                <xs:sequence>

                                                    <!-- Max 10 balloons per level -->
                                                    <xs:element name="balloon" maxOccurs="10">
                                                        <xs:complexType>
                                                            <xs:sequence>

                                                                <xs:element name="item" type="xs:string"/>

                                                                <xs:element name="description" type="xs:string"/>

                                                                <xs:element name="icon" type="xs:string"/>

                                                                <xs:element name="trajectory">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="startX" type="xCoordinate" use="required"/>
                                                                        <xs:attribute name="startY" type="yCoordinate" use="required"/>
                                                                        <xs:attribute name="endX" type="xCoordinate" use="required"/>
                                                                        <xs:attribute name="endY" type="yCoordinate" use="required"/>

                                                                        <xs:attribute name="speed">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:int">
                                                                                    <xs:minInclusive value="1"/>
                                                                                    <xs:maxInclusive value="14"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:attribute>

                                                                        <xs:attribute name="type" type="TrajectoryType" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>

                                                            </xs:sequence>

                                                            <xs:attribute name="hitpoints">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:int">
                                                                        <xs:minInclusive value="1"/>
                                                                        <xs:maxInclusive value="3"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>

                                                        </xs:complexType>
                                                    </xs:element>

                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>